body {
    background-color: rgb(41, 44, 63);
}

.TextoBlanco{
    color: rgb(200, 238, 255);
}

.TextoBioleta{
    color: rgb(252, 211, 248);
}

table, th, td {
    border:2px solid rgb(255, 255, 255);
  }